[submodule "db-service_api-shopee"]
	path = db-service_api-shopee
	url = https://github.com/eliezerBrasilian/db-service_api-shopee
[submodule "bot_postador_link_shopee"]
	path = bot_postador_link_shopee
	url = https://github.com/eliezerBrasilian/bot_postador_link_shopee